$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$poppins-font: "Poppins", serif;
$playfair-font: "Playfair Display", serif;
$poppins-font-regular: 400;
$poppins-font-light: 200;
$poppins-font-med: 500;
$playfair-font-bold: 700;
$h1-font-size: 56px;
$h1-line-height: 72px;
$h3-font-size: 24px;

$primary-color: rgba(155, 154, 120, 1);
$grey-color: rgba(144, 144, 144, 1);
$black-color: rgba(49, 49, 49, 1);
