$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Font family
$roboto-font: "Roboto", serif;
$body-font-size: 18px;

// Font sizes
$body-font-size: 16px;

// Colors
$blue-color: rgba(34, 36, 42, 1);
