$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$poppins-font: "Poppins", serif;
$belgrano-font: "Belgrano", serif;
$poppins-light: 300;
$poppins-regular: 400;
$poppins-medium: 500;
$poppins-semiBold: 600;

$font-size-body: 18px;
$h1-font-size: 57px;
$h1-line-height: 1.2em;
$h2-font-size: 32px;
$bg-font-color: rgba(255, 255, 255, 0.05);



$color-blue: rgba(46, 47, 56, 1);
$color-red: rgba(250, 80, 77, 1);
$color-grey: rgba(142, 142, 142, 1);
