$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Font-family
$playfair-font: "Playfair Display", serif;
$playfair-font-weight: 400;
$poppins-font: "Poppins", serif;
$poppins-font-light: 300;
$poppins-font-reg: 400;
$poppins-font-med: 500;
$poppins-font-semiBold: 600;
$poppins-font-bold: 700;

// Font size
$body-font-size : 18px;
$h1-font-size: 70px;

// Colors
$grey-color: rgba(222, 218, 213, 1);
$white-color: rgba(250, 248, 245, 1);
$lightBlack-color: rgba(66, 66, 65, .5);

