html * {
    font-family: $roboto-font;
}

p, a {
    text-decoration: none;
    color: white;
    font-size: $body-font-size;
    font-weight: 400;
}

h3 {
    font-size: $h3-font-size;
    color: white
}

h4 {
    font-size: $h4-font-size;
    color: white;
}

.footer-nav {
    a {
        font-size: 14px;
    }
    
}