$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Font family
$poppins-font: "Poppins", serif;
$poppins-light: 300;
$poppins-regular: 400;
$poppins-medium: 500;
$poppins-semiBold: 600;
$poppins-bold: 700;
$body-font-size: 18px;
$h1-font-size: 64px;

// Colors
$color-dark-blue: rgba(38, 64, 101, 1);
$color-light-blue: rgba(169, 214, 203, 1);
$color-grey: rgba(144, 144, 144, 1);
$color-black:rgba(7, 13, 21, 1);
$color-carne: rgba(250, 248, 245, 1);

// hero heigth
$hero-heigth: 75vh;