$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Font family
$poppins-font: "Poppins", serif;
$body-font-size: 18px;

// Font sizes
$h1-font-size: 24px;
$h3-font-size: 14px;
$body-font-size: 16px;

// Colors
$light-black-color: rgba(4, 5, 5, 0.8);
$dark-black-color:rgba(4, 5, 5, 1);
$green-color: rgba(135, 219, 28, 1);
