p, a {
    font-family: $poppins-font;
    font-weight: 400;
    font-size: $body-font-size;
    color: $black-color;
}

h1, h2 {
    font-family: $bebas-font;
    text-transform: uppercase;
    font-weight: 400;
}
h1 {
    font-size: 110px;
    line-height: 1em;
}
h2 {
    font-size: 40px;
}
h3 {
    font-family: $poppins-font;
    font-size: 24px;
    font-weight: 500;
}