$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

// Font family
$roboto-font: "Roboto", serif;
$body-font-size: 18px;

// Font sizes
$body-font-size: 16px;

// Colors
$violet-color: rgba(252, 0, 255, 1);
$purple-color: rgba(119, 116, 238, 1);
$light-blue-color: rgba(0, 219, 222, 1);
$dark-blue-color: rgba(49, 19, 94, 1);
