@use "../abstracts/variables" as *;

body * {
    font-family: $jakarta-font;
}

h1 {
    font-size: $heading-l;
    color: $dark-blue-color;
    font-weight: $heading-weight;
}

h2 {
    color: white;
    font-size: $heading-m;
    font-weight: $heading-weight;  
}

h3 {
    font-size: 20px;
    font-weight: $heading-weight;
}

p {
    font-size: $body-s;
    color: $grey-color;
}