@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

body * {
    font-family: $jakarta-font;
}

h1 {
    font-size: $heading-l;
    color: $dark-blue-color;
    font-weight: $heading-weight;
    @include breakpoint(tablethorizontal) {
        font-size: $heading-xl;
    }

}

h2 {
    color: white;
    font-size: $heading-m;
    font-weight: $heading-weight;  
    @include breakpoint(tablethorizontal) {
        font-size: $heading-l;
    }
    @include breakpoint(desktop) {
        font-size: $heading-m;
    }
}

h3 {
    font-size: 20px;
    font-weight: $heading-weight;
    @include breakpoint(tablethorizontal) {
        font-size: $heading-s
    }
}

p {
    font-size: $body-s;
    color: $grey-color;
    @include breakpoint(tablethorizontal) {
        font-size: $body-m
    }
}