$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$body-font-family: "Poppins", serif;
$h-font-family: "Montserrat", serif;

$body-font-size: 18px;
$h1-font-size: 80px;
$h1-line-height: 1.1em;
$h2-font-size: 22px;

$primary-color: rgba(243, 129, 96, 1);
$black-color: rgba(64, 60, 57, 1);
$grey-color:rgba(148, 148, 148, 1);