.footer-main {
    margin-top: 60px;
    padding: 50px 80px;
    .grid-container {
        display: grid;
        grid-template-areas:"left top top top"
                            "left bottom bottom bottom";
        justify-items: left;
        align-items: center;
        .left {
            grid-area: left;
        }

        .top {
            grid-area: top;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            padding: 32px 0px;
            padding-right: 10px; 
            border-bottom: 1px solid white;
            aside {
                display: flex;
                gap: 35px;
                .newsletter input[type="text"]{
                    padding: 6px 15px;
                    border-radius: 18px;
                    color: black;
                    background-image: url('../../img/Union.svg');
                    background-repeat: no-repeat;
                    background-size: 20px;
                    background-position: 93% center;
                    &::placeholder {
                        color: black;
                    }

                }
                .social ul {
                    @include nav-list-reset;
                    gap: 15px;
                }
            }

        }

        .bottom {
            grid-area: bottom;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 32px 0px;
            padding-right: 10px; 
            
            ul {
                @include nav-list-reset;
            }
        }    
    }


}

.footer-nav> ul {
    @include nav-list-reset;
    gap: 30px
}