p, a {
    text-decoration: none;
    color: white;
    font-size: $body-font-size;
    font-weight: 400;
}

p.light {
    color: $light-white-color;
}

a:hover {
    color: $green-color;
}

h2 {
    color: white;
    font-weight: 600;
    font-size: $h2-font-size;
    &.big-h2 {
        font-size: 32px;
        text-align: center;
    }
}

h3 {
    font-size: $h3-font-size;
    font-weight: 500;
    color: $light-white-color;
}


