@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

footer.footer {
    background-color: $dark-blue-color;
    padding: 36px 16px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo {
            width: 89px;
            height: 35px;
            @include breakpoint(tablethorizontal) {
                width: 111px;
                height: 38px;
            }
        }


    }
}