@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

header.header {
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        padding-top: 16px;
        padding-bottom: 16px;
        @include breakpoint(tablet) {
            margin-bottom: 60px;
            padding-top: 24px;
            padding-bottom: 24px;
        }
        @include breakpoint(tablethorizontal) {
            margin-bottom: 80px;
            padding-top: 32px;
            padding-bottom: 32px;
        }
        .logo {
            width: 89px;
            height: 35px;
            @include breakpoint(tablethorizontal) {
                width: 111px;
                height: 38px;
            }
        }
    }


}