$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1200px;
$bp-desktop-xl: 1440px;

$poppins-font: "Poppins", serif;
$bebas-font: "Bebas Neue", serif;
$poppins-regular: 400;
$poppins-semibold: 600;
$poppins-medium: 500;

$primary-color: rgba(126, 218, 210, 1);
$font-body-color: rgba(144, 144, 144, 1);
$font-h-color: rgba(66, 66, 65, 1);
