@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

.btn {
    text-decoration: none;
    text-align: center;
    border-radius: 28px;
    padding: 14px 24px;
    font-size: $body-s;
    font-weight: $body-s-weight;
    display: inline-block;
    color: white;
    @include breakpoint(tablethorizontal) {
        padding: 14px 31px;
        font-size: $body-m;
    }

    &.btn--blue {
        background-color: $dark-blue-color;
    }

    &.btn--pink-gradient {
        background: $pink-gradient;
    }

    &.btn--link {
        color: $dark-pink-color;
        padding: 0px;
        font-size: $body-s;
        font-weight: $body-s-weight;
        text-align: start;
        @include breakpoint(tablet) {
            font-size: $body-s;
        }
    }

    &.btn--blue-gradient {
        background: $blue-gradient;
    }
}
