@use "../abstracts/variables" as *;

.hero {
    margin-bottom: 80px;
    .container {
        h1 {
            margin-bottom: 26px;
        }
        p {
            margin-bottom: 30px;
        }

        a.btn {
            margin-bottom: 34px;
        }

        .img-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            img {
                width: 253px;
                height: 253px;
            }

            .numbers {
                position: absolute;
                background-color: white;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 16px 20px;
                border-radius: 12px;

                .numbers__title {
                    color: $grey-color;
                    font-size: 14px;
                    font-weight: $body-s-weight;
                }

                .numbers_description {
                    color: $dark-blue-color;
                    font-size: $heading-m;
                    font-weight: $heading-weight;
                }
                &.n1 {
                    top: -20px;
                    right: 35px;
                    box-shadow: 10px 10px 34px 0px rgba($dark-blue-color, 0.3);
                }
                &.n2 {
                    left: 40px;
                    bottom: -20px;
                    box-shadow: -10px 10px 34px 0px rgba($dark-blue-color, 0.3);
                }
            }
        }
    }
}