@import "./abstracts/abstracts";
@import "./vendors/vendors";
@import "./base/base";
@import "./components/components";
@import "./layout/layout";
@import "./pages/pages";
@import "./themes/themes";
@import "settings";

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;

    img {
        max-width: 200px;
    }
    .main-nav {
        ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 25px;
            a {
                color: $black-color;
                &.active {
                    color: $primary-color;
                }
            }
        }
    }
    .log-nav {
        display: flex;
        align-items: center;
        a:first-of-type {
            margin-right:35px;
        }
    }
}

.hero {
    height: 70vh;
    background-image: url('../img/Placeholder@1x.jpg');
    background-repeat: no-repeat;
    background-size: 68%;
    background-position: top left;

    .hero-container {
        position: relative;
        top: 12%; left: 45%;
        width: 57%;

        .hero-main {
            box-sizing: content-box;
            position: relative;
            padding: 30px;
            backdrop-filter: blur(16px);
            background-color: rgba(255, 255, 255, 0.7);
            margin-bottom: 10px;
            h1 {
                max-width: 90%;
                margin-bottom: 20px;
            }
            p {
                color: $grey-color;
                max-width: 80%;
            }
            .hero-main-deco {
                position: absolute;
                top: 56px; right: 25%;
                width: 68px;
                height: 6px;
                border: 1px solid black;
                box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.192);
                border-radius: 2px;
                background-color: $primary-color;
            }
        }
        .hero-extra {
            position: relative;
            top: 100%; left: 35%;
            display: grid;
            grid-template-columns: 1fr 1fr;
            align-items: center;
            gap: 20px 30px;
            padding: 20px;
            max-width: 74%;
            list-style-image: url('../img/Check.svg');
            list-style-position: outside;

        }

    }
}

.info {
    display: flex;
    margin: 30px 0;
    justify-content: space-around;
    article {
        padding: 15px 35px;
        width: 33%;
        img {
            width: 65px;
            margin-bottom: 5px;
        }
        p {
            color: $grey-color;
        }
    }

}